<h1>Listing all articles</h1>
<p>
  <%= link_to 'Create new article',new_article_path %>
</p>
<table style="text-align:left">
  <tr>
    <th style="border:1px solid black;">Title</th>
    <th style="border:1px solid black;">Description</th>
  </tr>
  
  
    <% @articles.each do |msg| %>
      <tr>
        <td style="border:1px solid black;padding:5px"><%= msg.title %></td>
        <td style="border:1px solid black;"><%= msg.description %></td>
        <td><%= link_to 'edit',edit_article_path(msg) %></td>
        <td><%= link_to 'show',article_path(msg) %></td>
      </tr>
    <% end %>
</table>